/* Base styling for the chat bar */
/* Base styling for the chat bar */
.chat-bar-collapsible {
    position: fixed;
    bottom: 0;
    right: 50px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

/* Styling for the collapsible button */
.collapsible {
    background: linear-gradient(to bottom, #007BFF, #0056b3);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 350px;
    text-align: left;
    outline: none;
    font-size: 18px;
    border-radius: 10px 10px 0 0;
    border: none;
    transition: all 0.3s ease;
}

/* Styling for the chat content */
.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: #22222222 /* #f1f1f1;*/
}

/* Styling for the full chat block */
.full-chat-block {
    width: 350px;
    background: white;
    text-align: center;
    overflow: auto;
    scrollbar-width: none;
    height: max-content;
    transition: max-height 0.3s ease;
}

/* Styling for the outer container */
.outer-container {
    min-height: 500px;
    bottom: 0%;
    position: relative;
}

/* Styling for the chat container */
.chat-container {
    max-height: 500px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to bottom, #f1f1f1, #d4d4d4);
    background-attachment: local;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

/* Hide scrollbar for Webkit browsers */
.chat-container::-webkit-scrollbar {
    display: none;
}

/* Styling for the chat bar input block */
.chat-bar-input-block {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-color: #ebebeb;
    border-radius: 10px 10px 0 0;
    padding: 12px 12px 12px 12px;
}

/* Styling for the chat bar icons */
.chat-bar-icons {
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 25%;
    font-size: 24px;
    transition: all 0.3s ease;
}

/* Styling for the user input */
#userInput {
    width: 75%;
}

/* Styling for the input box */
.input-box {
    border: none;
    box-sizing: border-box;
    width: 85%;
    border-radius: 12px;
    padding: 12px;
    font-size: 16px;
    color: #000;
    background-color: white;
    outline: none;
    font-family: Arial, sans-serif;
}

/* Styling for user and bot text */
.userText, .botText {
    font-family: Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    animation: floatup .5s forwards;
    clear: both;
}

/* Styling for user text */
.userText {
    text-align: right;
}

.userText span {
    color: white;
    background: #5ca6fa;
    padding: 12px;
    border-radius: 12px;
    border-bottom-right-radius: 2px;
    max-width: 80%;
    margin-right: 12px;
    display: flex;
    float: right;
}

/* Styling for bot text */
.botText {
    text-align: left;
}

.botText span {
    color: #000;
    background: #e0e0e0;
    padding: 12px;
    border-radius: 12px;
    border-bottom-left-radius: 2px;
    max-width: 90%;
    margin-left: 12px;
    display: flex;
}

/* Animation for floating up */
@keyframes floatup {
    from {
        transform: translateY(14px);
        opacity: .0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

/* Media query for responsiveness */
@media screen and (max-width:600px) {
    .full-chat-block, .chat-bar-collapsible, .collapsible {
        width: 100%;
        border-radius: 0px;
    }
    .collapsible {
        border: 0px;
        border-top: 3px solid white;
    }
}
