/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/* Base styling for the chat bar */
.chat-bar-collapsible {
  position: fixed;
  bottom: 0;
  right: 1rem;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
  width: 25rem;
  z-index: 2000000000; /* Ensuring high visibility */
}

/* Styling for the collapsible button */
.collapsible {
  background: #724ae8;
  color: white;
  cursor: pointer;
  padding: 1rem;
  inset: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  outline: none;
  font-size: 1.4rem;
  border-radius: 15px 15px 0 0;
  border: none;
  transition: all 0.2s ease;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Styling for the chat content */
.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background-color: rgba(114, 74, 232, 0.05);
}

/* Styling for the full chat block */
.full-chat-block {
  width: 100%;
  height: 100%;
  background: #fff;
  text-align: center;
  overflow: auto;
  scrollbar-width: none;
  height: max-content;
  transition: max-height 0.3s ease;
}

/* Styling for the outer container */
.outer-container {
  min-height: 500px;
  bottom: 0%;
  position: relative;
}

/* Styling for the chat container */
.chat-container {
  max-height: 500px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #fff;
  background-attachment: local;
  border-radius: 15px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease;
  font-family: "Poppins", sans-serif;
}

/* Hide scrollbar for Webkit browsers */
.chat-container::-webkit-scrollbar {
  display: none;
}

/* Styling for the chat bar input block */
.chat-bar-input-block {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: #fff;
  border-top: 1px solid #ddd;
  border-radius: 15px 15px 0 0;
  padding: 15px;
}

/* Styling for the chat bar icons */
.chat-bar-icons {
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  width: 25%;
  font-size: 24px;
  transition: all 0.3s ease;
}

/* Styling for the user input */
#userInput {
  width: 95%;
}

/* Styling for the input box */
.input-box {
  border: none;
  box-sizing: border-box;
  width: 85%;
  border-radius: 12px;
  padding: 12px;
  font-size: 0.95rem;
  color: #000;
  background-color: #f2f2f2;
  outline: none;
  font-family: "Poppins", sans-serif;
  transition: background-color 0.2s ease;
}

.input-box:focus {
  background-color: #fff;
  box-shadow: 0 0 0 2px rgba(114, 74, 232, 0.2);
}

/* Styling for user and bot text */
.userText,
.botText {
  font-family: "Poppins", sans-serif;
  font-size: 0.95rem;
  font-weight: normal;
  animation: floatup 0.5s forwards;
  clear: both;
}

/* Styling for user text */
.userText {
  text-align: right;
}

.userText span {
  color: white;
  background: #724ae8;
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  max-width: 75%;
  margin-right: 12px;
  display: flex;
  float: right;
}

/* Styling for bot text */
.botText {
  text-align: left;
}

.botText span {
  color: #000;
  background: #f2f2f2;
  padding: 12px 16px;
  border-radius: 10px 10px 10px 0;
  max-width: 75%;
  margin-left: 12px;
  display: flex;
}

.active {
  display: block;
}

/* Animation for floating up */
@keyframes floatup {
  from {
    transform: translateY(14px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  /* Full-screen chat window */
  /* Reset to original settings */
  .chat-bar-collapsible {
    width: 100%;
    bottom: 1rem;
    position: fixed;
    right: 0;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  /* Hide overflow to prevent scrolling */
  /* body {
    overflow: hidden;
  }
  */

  /* Reset padding and margin */
  .full-chat-block,
  .outer-container,
  .chat-container {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }

  /* Adjusting other elements for full screen */
  .outer-container {
    min-height: 80vh;
  }
  .chat-container {
    max-height: 90vh;
  }
}

/*The loader */
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  background: linear-gradient(0deg, rgba(114, 74, 232, 0.2) 33%, #724ae8 100%);
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #263238;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.input-box.disabled {
  background-color: #f1f1f1;
  cursor: not-allowed;
}
