/* Style for the form overlay */
.form-overlay {
  position: relative; /* I change from absolute to relative when I had Iframe issues */
  top: 30px;
  left: 0;
  width: 100%;
  bottom: 30px;
  height: 100%;
 /* background-color: rgba(0, 0, 0, 0.8);*/
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000000001; /* Ensure the overlay is on top */
}

/* Style for the form */
#user-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

/* Style for the labels */
#user-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

/* Style for the input fields */
#user-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style for the submit button */
#user-form input[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  padding: 12px 20px;
  border-radius: 4px;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  #user-form {
    width: 90%; /* Increase width for smaller screens */
  }
  #user-form input,
  #user-form label {
    font-size: 16px; /* Increase font size for better readability */
  }
  #user-form input[type="submit"] {
    padding: 16px 24px; /* Increase padding for better touch area */
  }
}
